.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: #f3f2f0;
}
/* nav style */
nav ul{ 
    display: flex;
    justify-content: space-between;
}
nav > ul > li{
    list-style: none;;
}
nav{
    margin: 0 160px;
}
/* .dark-1{color: #0E0E0E;} */
.nav-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    
}
.nav-btn{
    color: #006A50;
    background-color: white;
    border: 2px solid green;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}
button:hover{background-color: lightslategrey;}
/* banner style */
.banner{
    background-color: #C6E4D6;
    margin: 19px 244px 0px 76px;
    border-radius: 24px;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    
    
}
.banner-content{
    padding: 160px 58px;
    /* max-width: 622px; */
}
.banner-title{
    font-size: 56px;
    font-weight: 700px;
    /* padding: 160px 60px; */
}
.banner-img{
    height: 400px;
    width: 474px;
    margin: 0px 64px;
}
.banner-subtitle{
    color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500;;
text-align: left;
}
.banner-btn{
    color: white;
font-size: 18px;
font-weight: 600;
text-align: left;
border-radius: 8px;
border: 0px;
background: rgb(0, 106, 80);
padding: 20px 50px;
}
/* vision styles */
.vision-title{color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.vision{ 
    /* margin-top: 80px; */
    margin: 80px 244px 0px 76px;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin-bottom: 32px;
}
/* card style */
.card{
    height: 325px;
    /* width: 450px; */
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}
.card-container{
    display: flex;
    gap: 24px;
}
.card-icon{
width: 49.66px;
height: 53.09px;
}
.card-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 22px;
    font-weight: 700px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}
.card-description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-bottom: 30px;
}
.card-btn{color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 11px 20px;
    border-radius: 8px;
    
    border: 0px;
height: 50px;
width: 150px;}

.bg-1{background-color: #5490F533;}
.bg-2{background-color: #C6E4D6;}
.bg-3{background-color: #F7EBCF;}
.btn-bg-clr-1{background: rgb(84, 144, 245);}
.btn-bg-clr-2{background-color: #09A15C;}
.btn-bg-clr-3{background-color: #FFC239;}

/* vision news style */
#news{
    margin: 80px 244px 0px 76px;
}
.news-heading{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
}
.news-headline{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-bottom: 32px;
}
.news-container{
    display: flex;
    gap: 32px;
    background-color: #ffffff;
    /* box-shadow: 5px 5px 5px 5px rgb(215, 213, 209); */
    border: 1px rgb(216, 211, 211);
    border-radius: 24px;
    height: 402px;
    justify-content: center;
    align-items: center;
    padding: 40px 32px;
}
.satelite{
    position: static;
    height: 306px;
    width: 408px;
    border-radius: 24px;
    margin: 0px 32px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin-bottom: 12px;
}
.news-source{
    position: static;
    width: 134px;
    height: 40px;
}
.news-time{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.news-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 32px;
}
.news-btn{
    padding: 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    border: 0px;
}
/* .about{ */
    /* margin-bottom: 24px; */
/* } */